* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1906px;
}

header {
    height: 81px;
    display: flex;
    align-content: center;
    background-image: url(./img/img/jumbo.png);
}


.list_flex {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    flex-basis: 40%;
    color: white;
}


.navigator_flex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    width: 1192px;
    padding: 5px;
    align-self: center;
}

.login {
    padding: 8px;
    border-radius: 15px;
    border: none;
}

.section_1 {
    height: 387px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(./img/img/jumbo.png);
    background-size: 1950px 390px;
}

.container_1 {
    width: 901px;
    height: 387px;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.mac{
    align-self: center;
    padding: 15px;
    border: none;
    border-radius: 25%;
    background-color: grey;

}

.open{
    align-self: center;
    padding: 15px;
    border: none;
    border-radius: 25%;
    color: white;
    background-color: black;
}


.title{
    align-self: center;
    font-size: 59px;
    padding-bottom: 20px;
}

.paragraphtitle{
    align-self: center;
    font-size: 25px;
    line-height: 2;
    text-align: center;
}

.buttons1{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.section_2 {
    height: 601px;
    display: flex;
    flex-direction: row;    
    justify-content: center;
}

.contsection_2 {
    width: 1192px;
    height: 522px;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.items_1{
    display: flex;
    flex-direction: column;
   
}

.title1{
    width: 428px;
    height: 342px;
    font-size: 59px;
    text-align: left;
    padding-top: 40px;
}

.text1{
    width: 428px;
    height: 190px;
    font-size: 25px;
    text-align: left;
    padding-top: 70px;
    
}

.title2{
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.text2{
    font-size: 20px;
    text-align: center;

    
}


.titlefinal{
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
    background-image: url(./img/img/stars.svg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
}

.section_3 {
    height: 601px;
    display: flex;
    flex-direction: row;    
    justify-content: center;
}

.contsection_3 {
    width: 1192px;
    height: 522px;
    align-self: center;
    display: flex;
    flex-direction: row-reverse;

}

.section_4 {
    height: 985px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
}

.container_4 {
    width: 1192px;
    height: 893px;
    align-self: center;
    display: flex;
    flex-direction: column;

}

.section_5 {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border-bottom: 1px solid black;
    
}

.contsection_5 {
    width: 1192px;
    height: 553px;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-top: 20px;

}

.items_3 {
    flex-basis: 66%;
    color: white;
    line-height: 2;

}

.items_4 {
    flex-basis: 33%;
    color: white;
    line-height: 2;



}

.buttons{
    align-self: center;
    padding: 15px;
    border: none;
    border-radius: 25%;
    color: white;
    background-color: aqua;

}


.contsection_5_1 {

    width: 1192px;
    height: 58px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
    
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 89px;
    background-color: black;
}

.logo1{
    border: 5px solid black;
    width: 74px;
    height: 33px;
    text-align: center;
}

.bottone{
    border: 5px solid black;
    width: 74px;
    height: 33px;
    text-align: center;
}

li{
    list-style: none;
}

.titlefooter{
    color: blueviolet;
}
    
